<?xml version="1.0" encoding="utf-8" ?> 
<sqlMap namespace="Article" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<alias>
		<typeAlias alias="Article" type="Trans.DAL.Entity.Article" />
		<typeAlias alias="ArticlePagination" type="Trans.DAL.Entity.ArticlePagination" />
	</alias>
	<resultMaps>
		<resultMap id="FullResultMap" class="Article">
			<result property="Userid" column="userid" dbType="bigint"/>
			<result property="Title" column="title" dbType="varchar"/>
			<result property="Hittimes" column="hittimes" dbType="bigint"/>
			<result property="Id" column="id" dbType="bigint"/>
			<result property="Titlecolor" column="titlecolor" dbType="varchar"/>
			<result property="Typeid" column="typeid" dbType="bigint"/>
			<result property="Istop" column="istop" dbType="tinyint"/>
			<result property="Content" column="content" dbType="text"/>
			<result property="Releaseip" column="releaseip" dbType="varchar"/>
			<result property="Releasedate" column="releasedate" dbType="datetime"/>
			<result property="Ispass" column="ispass" dbType="tinyint"/>
		</resultMap>
	</resultMaps>
	<statements>
		<select id="Article.GetCount" resultClass="System.Int32">
			SELECT count(*) FROM article 
		</select>
		<select id="Article.FindAll" resultMap="FullResultMap">
			SELECT * FROM article
		</select>
		<select id="Article.DescendOrderFindAll" resultMap="FullResultMap">
			SELECT * FROM article ORDER BY id DESC
		</select>
		<select id="Article.FindAllPagination" parameterClass="ArticlePagination" resultMap="FullResultMap">
			SELECT * FROM article limit #Limit# offset #Offset# 
		</select>
		<select id="Article.DescendOrderFindAllPagination" parameterClass="ArticlePagination" resultMap="FullResultMap">
			SELECT * FROM article ORDER BY id desc limit #Limit# offset #Offset# 
		</select>
		<select id="Article.FindByUserid" parameterClass="Int64" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.userid = #value#
		</select>
		<select id="Article.DescendOrderFindByUserid" parameterClass="Int64" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.userid = #value# ORDER BY id DESC
		</select>
		<select id="ArticlePagination.FindByUserid" parameterClass="ArticlePagination" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.userid = #Userid# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="ArticlePagination.DescendOrderFindByUserid" parameterClass="ArticlePagination" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.userid = #Userid# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Article.GetFindByUseridCount" resultClass="System.Int32">
			SELECT count(*) FROM article WHERE article.userid=#Userid#
		</select>
		<select id="Article.FindByTitle" parameterClass="String" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.title = #value#
		</select>
		<select id="Article.DescendOrderFindByTitle" parameterClass="String" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.title = #value# ORDER BY id DESC
		</select>
		<select id="ArticlePagination.FindByTitle" parameterClass="ArticlePagination" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.title = #Title# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="ArticlePagination.DescendOrderFindByTitle" parameterClass="ArticlePagination" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.title = #Title# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Article.GetFindByTitleCount" resultClass="System.Int32">
			SELECT count(*) FROM article WHERE article.title=#Title#
		</select>
		<select id="Article.FindByHittimes" parameterClass="Int64" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.hittimes = #value#
		</select>
		<select id="Article.DescendOrderFindByHittimes" parameterClass="Int64" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.hittimes = #value# ORDER BY id DESC
		</select>
		<select id="ArticlePagination.FindByHittimes" parameterClass="ArticlePagination" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.hittimes = #Hittimes# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="ArticlePagination.DescendOrderFindByHittimes" parameterClass="ArticlePagination" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.hittimes = #Hittimes# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Article.GetFindByHittimesCount" resultClass="System.Int32">
			SELECT count(*) FROM article WHERE article.hittimes=#Hittimes#
		</select>
		<select id="Article.Find" parameterClass="Article" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.id=#Id#
		</select>
		<select id="Article.DescendOrderFind" parameterClass="Article" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.id=#Id# ORDER BY id DESC
		</select>
		<select id="Article.GetFindCount" resultClass="System.Int32">
			SELECT count(*) FROM article WHERE article.id=#Id#
		</select>
		<select id="Article.FindByTitlecolor" parameterClass="String" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.titlecolor = #value#
		</select>
		<select id="Article.DescendOrderFindByTitlecolor" parameterClass="String" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.titlecolor = #value# ORDER BY id DESC
		</select>
		<select id="ArticlePagination.FindByTitlecolor" parameterClass="ArticlePagination" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.titlecolor = #Titlecolor# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="ArticlePagination.DescendOrderFindByTitlecolor" parameterClass="ArticlePagination" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.titlecolor = #Titlecolor# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Article.GetFindByTitlecolorCount" resultClass="System.Int32">
			SELECT count(*) FROM article WHERE article.titlecolor=#Titlecolor#
		</select>
		<select id="Article.FindByTypeid" parameterClass="Int64" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.typeid = #value#
		</select>
		<select id="Article.DescendOrderFindByTypeid" parameterClass="Int64" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.typeid = #value# ORDER BY id DESC
		</select>
		<select id="ArticlePagination.FindByTypeid" parameterClass="ArticlePagination" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.typeid = #Typeid# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="ArticlePagination.DescendOrderFindByTypeid" parameterClass="ArticlePagination" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.typeid = #Typeid# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Article.GetFindByTypeidCount" resultClass="System.Int32">
			SELECT count(*) FROM article WHERE article.typeid=#Typeid#
		</select>
		<select id="Article.FindByIstop" parameterClass="Byte" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.istop = #value#
		</select>
		<select id="Article.DescendOrderFindByIstop" parameterClass="Byte" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.istop = #value# ORDER BY id DESC
		</select>
		<select id="ArticlePagination.FindByIstop" parameterClass="ArticlePagination" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.istop = #Istop# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="ArticlePagination.DescendOrderFindByIstop" parameterClass="ArticlePagination" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.istop = #Istop# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Article.GetFindByIstopCount" resultClass="System.Int32">
			SELECT count(*) FROM article WHERE article.istop=#Istop#
		</select>
		<select id="Article.FindByContent" parameterClass="String" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.content = #value#
		</select>
		<select id="Article.DescendOrderFindByContent" parameterClass="String" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.content = #value# ORDER BY id DESC
		</select>
		<select id="ArticlePagination.FindByContent" parameterClass="ArticlePagination" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.content = #Content# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="ArticlePagination.DescendOrderFindByContent" parameterClass="ArticlePagination" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.content = #Content# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Article.GetFindByContentCount" resultClass="System.Int32">
			SELECT count(*) FROM article WHERE article.content=#Content#
		</select>
		<select id="Article.FindByReleaseip" parameterClass="String" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.releaseip = #value#
		</select>
		<select id="Article.DescendOrderFindByReleaseip" parameterClass="String" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.releaseip = #value# ORDER BY id DESC
		</select>
		<select id="ArticlePagination.FindByReleaseip" parameterClass="ArticlePagination" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.releaseip = #Releaseip# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="ArticlePagination.DescendOrderFindByReleaseip" parameterClass="ArticlePagination" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.releaseip = #Releaseip# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Article.GetFindByReleaseipCount" resultClass="System.Int32">
			SELECT count(*) FROM article WHERE article.releaseip=#Releaseip#
		</select>
		<select id="Article.FindByReleasedate" parameterClass="DateTime" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.releasedate = #value#
		</select>
		<select id="Article.DescendOrderFindByReleasedate" parameterClass="DateTime" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.releasedate = #value# ORDER BY id DESC
		</select>
		<select id="ArticlePagination.FindByReleasedate" parameterClass="ArticlePagination" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.releasedate = #Releasedate# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="ArticlePagination.DescendOrderFindByReleasedate" parameterClass="ArticlePagination" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.releasedate = #Releasedate# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Article.GetFindByReleasedateCount" resultClass="System.Int32">
			SELECT count(*) FROM article WHERE article.releasedate=#Releasedate#
		</select>
		<select id="Article.FindByIspass" parameterClass="Byte" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.ispass = #value#
		</select>
		<select id="Article.DescendOrderFindByIspass" parameterClass="Byte" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.ispass = #value# ORDER BY id DESC
		</select>
		<select id="ArticlePagination.FindByIspass" parameterClass="ArticlePagination" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.ispass = #Ispass# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="ArticlePagination.DescendOrderFindByIspass" parameterClass="ArticlePagination" resultMap="FullResultMap" extends="Article.FindAll">
			WHERE article.ispass = #Ispass# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Article.GetFindByIspassCount" resultClass="System.Int32">
			SELECT count(*) FROM article WHERE article.ispass=#Ispass#
		</select>
		<insert id="Article.Insert" parameterClass="Article">
			INSERT INTO article (userid,title,hittimes,id,titlecolor,typeid,istop,content,releaseip,releasedate,ispass) VALUES (#Userid#,#Title#,#Hittimes#,#Id#,#Titlecolor#,#Typeid#,#Istop#,#Content#,#Releaseip#,#Releasedate#,#Ispass#)
		</insert>
		<update id="Article.Update" parameterClass="Article">
			UPDATE article SET userid=#Userid#,title=#Title#,hittimes=#Hittimes#,titlecolor=#Titlecolor#,typeid=#Typeid#,istop=#Istop#,content=#Content#,releaseip=#Releaseip#,releasedate=#Releasedate#,ispass=#Ispass# WHERE id=#Id#
		</update>
		<delete id="Article.DeleteByUserid" parameterClass="Int64">
			DELETE FROM article WHERE userid=#value# 
		</delete>
		<delete id="Article.DeleteByTitle" parameterClass="String">
			DELETE FROM article WHERE title=#value# 
		</delete>
		<delete id="Article.DeleteByHittimes" parameterClass="Int64">
			DELETE FROM article WHERE hittimes=#value# 
		</delete>
		<delete id="Article.Delete" parameterClass="Article">
			DELETE FROM article WHERE id=#Id#
		</delete>
		<delete id="Article.DeleteByTitlecolor" parameterClass="String">
			DELETE FROM article WHERE titlecolor=#value# 
		</delete>
		<delete id="Article.DeleteByTypeid" parameterClass="Int64">
			DELETE FROM article WHERE typeid=#value# 
		</delete>
		<delete id="Article.DeleteByIstop" parameterClass="Byte">
			DELETE FROM article WHERE istop=#value# 
		</delete>
		<delete id="Article.DeleteByContent" parameterClass="String">
			DELETE FROM article WHERE content=#value# 
		</delete>
		<delete id="Article.DeleteByReleaseip" parameterClass="String">
			DELETE FROM article WHERE releaseip=#value# 
		</delete>
		<delete id="Article.DeleteByReleasedate" parameterClass="DateTime">
			DELETE FROM article WHERE releasedate=#value# 
		</delete>
		<delete id="Article.DeleteByIspass" parameterClass="Byte">
			DELETE FROM article WHERE ispass=#value# 
		</delete>
	</statements>
</sqlMap>
