<?xml version="1.0" encoding="utf-8" ?> 
<sqlMap namespace="Depotinformation" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<alias>
		<typeAlias alias="Depotinformation" type="Trans.DAL.Entity.Depotinformation" />
		<typeAlias alias="DepotinformationPagination" type="Trans.DAL.Entity.DepotinformationPagination" />
	</alias>
	<resultMaps>
		<resultMap id="FullResultMap" class="Depotinformation">
			<result property="Cellphone" column="cellphone" dbType="varchar"/>
			<result property="Description" column="description" dbType="text"/>
			<result property="Validtime" column="validtime" dbType="varchar"/>
			<result property="Contactperson" column="contactperson" dbType="varchar"/>
			<result property="Userid" column="userid" dbType="bigint"/>
			<result property="Useablearea" column="useablearea" dbType="int"/>
			<result property="Price" column="price" dbType="varchar"/>
			<result property="Bizscopetype" column="bizscopetype" dbType="bigint"/>
			<result property="Depottype" column="depottype" dbType="bigint"/>
			<result property="Title" column="title" dbType="varchar"/>
			<result property="Id" column="id" dbType="bigint"/>
			<result property="Address" column="address" dbType="varchar"/>
			<result property="Area" column="area" dbType="int"/>
			<result property="Countycode" column="countycode" dbType="varchar"/>
		</resultMap>
	</resultMaps>
	<statements>
		<select id="Depotinformation.GetCount" resultClass="System.Int32">
			SELECT count(*) FROM depotinformation 
		</select>
		<select id="Depotinformation.FindAll" resultMap="FullResultMap">
			SELECT * FROM depotinformation
		</select>
		<select id="Depotinformation.FindAllPagination" parameterClass="DepotinformationPagination" resultMap="FullResultMap">
			SELECT * FROM depotinformation limit #Limit# offset #Offset# 
		</select>
		<select id="Depotinformation.FindByCellphone" parameterClass="String" resultMap="FullResultMap" extends="Depotinformation.FindAll">
			WHERE depotinformation.cellphone = #value#
		</select>
		<select id="DepotinformationPagination.FindByCellphone" parameterClass="DepotinformationPagination" resultMap="FullResultMap" extends="Depotinformation.FindAll">
			WHERE depotinformation.cellphone = #Cellphone# limit #Limit# offset #Offset# 
		</select>
		<select id="Depotinformation.FindByDescription" parameterClass="String" resultMap="FullResultMap" extends="Depotinformation.FindAll">
			WHERE depotinformation.description = #value#
		</select>
		<select id="DepotinformationPagination.FindByDescription" parameterClass="DepotinformationPagination" resultMap="FullResultMap" extends="Depotinformation.FindAll">
			WHERE depotinformation.description = #Description# limit #Limit# offset #Offset# 
		</select>
		<select id="Depotinformation.FindByValidtime" parameterClass="String" resultMap="FullResultMap" extends="Depotinformation.FindAll">
			WHERE depotinformation.validtime = #value#
		</select>
		<select id="DepotinformationPagination.FindByValidtime" parameterClass="DepotinformationPagination" resultMap="FullResultMap" extends="Depotinformation.FindAll">
			WHERE depotinformation.validtime = #Validtime# limit #Limit# offset #Offset# 
		</select>
		<select id="Depotinformation.FindByContactperson" parameterClass="String" resultMap="FullResultMap" extends="Depotinformation.FindAll">
			WHERE depotinformation.contactperson = #value#
		</select>
		<select id="DepotinformationPagination.FindByContactperson" parameterClass="DepotinformationPagination" resultMap="FullResultMap" extends="Depotinformation.FindAll">
			WHERE depotinformation.contactperson = #Contactperson# limit #Limit# offset #Offset# 
		</select>
		<select id="Depotinformation.FindByUserid" parameterClass="Int64" resultMap="FullResultMap" extends="Depotinformation.FindAll">
			WHERE depotinformation.userid = #value#
		</select>
		<select id="DepotinformationPagination.FindByUserid" parameterClass="DepotinformationPagination" resultMap="FullResultMap" extends="Depotinformation.FindAll">
			WHERE depotinformation.userid = #Userid# limit #Limit# offset #Offset# 
		</select>
		<select id="Depotinformation.FindByUseablearea" parameterClass="Int32" resultMap="FullResultMap" extends="Depotinformation.FindAll">
			WHERE depotinformation.useablearea = #value#
		</select>
		<select id="DepotinformationPagination.FindByUseablearea" parameterClass="DepotinformationPagination" resultMap="FullResultMap" extends="Depotinformation.FindAll">
			WHERE depotinformation.useablearea = #Useablearea# limit #Limit# offset #Offset# 
		</select>
		<select id="Depotinformation.FindByPrice" parameterClass="String" resultMap="FullResultMap" extends="Depotinformation.FindAll">
			WHERE depotinformation.price = #value#
		</select>
		<select id="DepotinformationPagination.FindByPrice" parameterClass="DepotinformationPagination" resultMap="FullResultMap" extends="Depotinformation.FindAll">
			WHERE depotinformation.price = #Price# limit #Limit# offset #Offset# 
		</select>
		<select id="Depotinformation.FindByBizscopetype" parameterClass="Int64" resultMap="FullResultMap" extends="Depotinformation.FindAll">
			WHERE depotinformation.bizscopetype = #value#
		</select>
		<select id="DepotinformationPagination.FindByBizscopetype" parameterClass="DepotinformationPagination" resultMap="FullResultMap" extends="Depotinformation.FindAll">
			WHERE depotinformation.bizscopetype = #Bizscopetype# limit #Limit# offset #Offset# 
		</select>
		<select id="Depotinformation.FindByDepottype" parameterClass="Int64" resultMap="FullResultMap" extends="Depotinformation.FindAll">
			WHERE depotinformation.depottype = #value#
		</select>
		<select id="DepotinformationPagination.FindByDepottype" parameterClass="DepotinformationPagination" resultMap="FullResultMap" extends="Depotinformation.FindAll">
			WHERE depotinformation.depottype = #Depottype# limit #Limit# offset #Offset# 
		</select>
		<select id="Depotinformation.FindByTitle" parameterClass="String" resultMap="FullResultMap" extends="Depotinformation.FindAll">
			WHERE depotinformation.title = #value#
		</select>
		<select id="DepotinformationPagination.FindByTitle" parameterClass="DepotinformationPagination" resultMap="FullResultMap" extends="Depotinformation.FindAll">
			WHERE depotinformation.title = #Title# limit #Limit# offset #Offset# 
		</select>
		<select id="Depotinformation.Find" parameterClass="Depotinformation" resultMap="FullResultMap" extends="Depotinformation.FindAll">
			WHERE depotinformation.id=#Id#
		</select>
		<select id="Depotinformation.FindByAddress" parameterClass="String" resultMap="FullResultMap" extends="Depotinformation.FindAll">
			WHERE depotinformation.address = #value#
		</select>
		<select id="DepotinformationPagination.FindByAddress" parameterClass="DepotinformationPagination" resultMap="FullResultMap" extends="Depotinformation.FindAll">
			WHERE depotinformation.address = #Address# limit #Limit# offset #Offset# 
		</select>
		<select id="Depotinformation.FindByArea" parameterClass="Int32" resultMap="FullResultMap" extends="Depotinformation.FindAll">
			WHERE depotinformation.area = #value#
		</select>
		<select id="DepotinformationPagination.FindByArea" parameterClass="DepotinformationPagination" resultMap="FullResultMap" extends="Depotinformation.FindAll">
			WHERE depotinformation.area = #Area# limit #Limit# offset #Offset# 
		</select>
		<select id="Depotinformation.FindByCountycode" parameterClass="String" resultMap="FullResultMap" extends="Depotinformation.FindAll">
			WHERE depotinformation.countycode = #value#
		</select>
		<select id="DepotinformationPagination.FindByCountycode" parameterClass="DepotinformationPagination" resultMap="FullResultMap" extends="Depotinformation.FindAll">
			WHERE depotinformation.countycode = #Countycode# limit #Limit# offset #Offset# 
		</select>
		<insert id="Depotinformation.Insert" parameterClass="Depotinformation">
			INSERT INTO depotinformation (cellphone,description,validtime,contactperson,userid,useablearea,price,bizscopetype,depottype,title,id,address,area,countycode) VALUES (#Cellphone#,#Description#,#Validtime#,#Contactperson#,#Userid#,#Useablearea#,#Price#,#Bizscopetype#,#Depottype#,#Title#,#Id#,#Address#,#Area#,#Countycode#)
		</insert>
		<update id="Depotinformation.Update" parameterClass="Depotinformation">
			UPDATE depotinformation SET cellphone=#Cellphone#,description=#Description#,validtime=#Validtime#,contactperson=#Contactperson#,userid=#Userid#,useablearea=#Useablearea#,price=#Price#,bizscopetype=#Bizscopetype#,depottype=#Depottype#,title=#Title#,address=#Address#,area=#Area#,countycode=#Countycode# WHERE id=#Id#
		</update>
		<delete id="Depotinformation.DeleteByCellphone" parameterClass="String">
			DELETE FROM depotinformation WHERE cellphone=#value# 
		</delete>
		<delete id="Depotinformation.DeleteByDescription" parameterClass="String">
			DELETE FROM depotinformation WHERE description=#value# 
		</delete>
		<delete id="Depotinformation.DeleteByValidtime" parameterClass="String">
			DELETE FROM depotinformation WHERE validtime=#value# 
		</delete>
		<delete id="Depotinformation.DeleteByContactperson" parameterClass="String">
			DELETE FROM depotinformation WHERE contactperson=#value# 
		</delete>
		<delete id="Depotinformation.DeleteByUserid" parameterClass="Int64">
			DELETE FROM depotinformation WHERE userid=#value# 
		</delete>
		<delete id="Depotinformation.DeleteByUseablearea" parameterClass="Int32">
			DELETE FROM depotinformation WHERE useablearea=#value# 
		</delete>
		<delete id="Depotinformation.DeleteByPrice" parameterClass="String">
			DELETE FROM depotinformation WHERE price=#value# 
		</delete>
		<delete id="Depotinformation.DeleteByBizscopetype" parameterClass="Int64">
			DELETE FROM depotinformation WHERE bizscopetype=#value# 
		</delete>
		<delete id="Depotinformation.DeleteByDepottype" parameterClass="Int64">
			DELETE FROM depotinformation WHERE depottype=#value# 
		</delete>
		<delete id="Depotinformation.DeleteByTitle" parameterClass="String">
			DELETE FROM depotinformation WHERE title=#value# 
		</delete>
		<delete id="Depotinformation.Delete" parameterClass="Depotinformation">
			DELETE FROM depotinformation WHERE id=#Id#
		</delete>
		<delete id="Depotinformation.DeleteByAddress" parameterClass="String">
			DELETE FROM depotinformation WHERE address=#value# 
		</delete>
		<delete id="Depotinformation.DeleteByArea" parameterClass="Int32">
			DELETE FROM depotinformation WHERE area=#value# 
		</delete>
		<delete id="Depotinformation.DeleteByCountycode" parameterClass="String">
			DELETE FROM depotinformation WHERE countycode=#value# 
		</delete>
	</statements>
</sqlMap>
