<?xml version="1.0" encoding="utf-8" ?> 
<sqlMap namespace="Goodstype" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<alias>
		<typeAlias alias="Goodstype" type="Trans.DAL.Entity.Goodstype" />
		<typeAlias alias="GoodstypePagination" type="Trans.DAL.Entity.GoodstypePagination" />
	</alias>
	<resultMaps>
		<resultMap id="FullResultMap" class="Goodstype">
			<result property="Id" column="id" dbType="bigint"/>
			<result property="Typename" column="typename" dbType="varchar"/>
		</resultMap>
	</resultMaps>
	<statements>
		<select id="Goodstype.GetCount" resultClass="System.Int32">
			SELECT count(*) FROM goodstype 
		</select>
		<select id="Goodstype.FindAll" resultMap="FullResultMap">
			SELECT * FROM goodstype
		</select>
		<select id="Goodstype.DescendOrderFindAll" resultMap="FullResultMap">
			SELECT * FROM goodstype ORDER BY id DESC
		</select>
		<select id="Goodstype.FindAllPagination" parameterClass="GoodstypePagination" resultMap="FullResultMap">
			SELECT * FROM goodstype limit #Limit# offset #Offset# 
		</select>
		<select id="Goodstype.DescendOrderFindAllPagination" parameterClass="GoodstypePagination" resultMap="FullResultMap">
			SELECT * FROM goodstype ORDER BY id desc limit #Limit# offset #Offset# 
		</select>
		<select id="Goodstype.Find" parameterClass="Goodstype" resultMap="FullResultMap" extends="Goodstype.FindAll">
			WHERE goodstype.id=#Id#
		</select>
		<select id="Goodstype.DescendOrderFind" parameterClass="Goodstype" resultMap="FullResultMap" extends="Goodstype.FindAll">
			WHERE goodstype.id=#Id# ORDER BY id DESC
		</select>
		<select id="Goodstype.GetFindCount" resultClass="System.Int32">
			SELECT count(*) FROM goodstype WHERE goodstype.id=#Id#
		</select>
		<select id="Goodstype.FindByTypename" parameterClass="String" resultMap="FullResultMap" extends="Goodstype.FindAll">
			WHERE goodstype.typename = #value#
		</select>
		<select id="Goodstype.DescendOrderFindByTypename" parameterClass="String" resultMap="FullResultMap" extends="Goodstype.FindAll">
			WHERE goodstype.typename = #value# ORDER BY id DESC
		</select>
		<select id="GoodstypePagination.FindByTypename" parameterClass="GoodstypePagination" resultMap="FullResultMap" extends="Goodstype.FindAll">
			WHERE goodstype.typename = #Typename# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="GoodstypePagination.DescendOrderFindByTypename" parameterClass="GoodstypePagination" resultMap="FullResultMap" extends="Goodstype.FindAll">
			WHERE goodstype.typename = #Typename# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Goodstype.GetFindByTypenameCount" resultClass="System.Int32">
			SELECT count(*) FROM goodstype WHERE goodstype.typename=#Typename#
		</select>
		<insert id="Goodstype.Insert" parameterClass="Goodstype">
			INSERT INTO goodstype (id,typename) VALUES (#Id#,#Typename#)
		</insert>
		<update id="Goodstype.Update" parameterClass="Goodstype">
			UPDATE goodstype SET typename=#Typename# WHERE id=#Id#
		</update>
		<delete id="Goodstype.Delete" parameterClass="Goodstype">
			DELETE FROM goodstype WHERE id=#Id#
		</delete>
		<delete id="Goodstype.DeleteByTypename" parameterClass="String">
			DELETE FROM goodstype WHERE typename=#value# 
		</delete>
	</statements>
</sqlMap>
