<?xml version="1.0" encoding="utf-8" ?> 
<sqlMap namespace="Placeinfo" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<alias>
		<typeAlias alias="Placeinfo" type="Trans.DAL.Entity.Placeinfo" />
		<typeAlias alias="PlaceinfoPagination" type="Trans.DAL.Entity.PlaceinfoPagination" />
	</alias>
	<resultMaps>
		<resultMap id="FullResultMap" class="Placeinfo">
			<result property="Address" column="address" dbType="varchar"/>
			<result property="Contactpersonname" column="contactpersonname" dbType="varchar"/>
			<result property="Contactphone" column="contactphone" dbType="varchar"/>
			<result property="Id" column="id" dbType="bigint"/>
			<result property="Contactcellphone" column="contactcellphone" dbType="varchar"/>
			<result property="Countycode" column="countycode" dbType="varchar"/>
		</resultMap>
	</resultMaps>
	<statements>
		<select id="Placeinfo.GetCount" resultClass="System.Int32">
			SELECT count(*) FROM placeinfo 
		</select>
		<select id="Placeinfo.FindAll" resultMap="FullResultMap">
			SELECT * FROM placeinfo
		</select>
		<select id="Placeinfo.DescendOrderFindAll" resultMap="FullResultMap">
			SELECT * FROM placeinfo ORDER BY id DESC
		</select>
		<select id="Placeinfo.FindAllPagination" parameterClass="PlaceinfoPagination" resultMap="FullResultMap">
			SELECT * FROM placeinfo limit #Limit# offset #Offset# 
		</select>
		<select id="Placeinfo.DescendOrderFindAllPagination" parameterClass="PlaceinfoPagination" resultMap="FullResultMap">
			SELECT * FROM placeinfo ORDER BY id desc limit #Limit# offset #Offset# 
		</select>
		<select id="Placeinfo.FindByAddress" parameterClass="String" resultMap="FullResultMap" extends="Placeinfo.FindAll">
			WHERE placeinfo.address = #value#
		</select>
		<select id="Placeinfo.DescendOrderFindByAddress" parameterClass="String" resultMap="FullResultMap" extends="Placeinfo.FindAll">
			WHERE placeinfo.address = #value# ORDER BY id DESC
		</select>
		<select id="PlaceinfoPagination.FindByAddress" parameterClass="PlaceinfoPagination" resultMap="FullResultMap" extends="Placeinfo.FindAll">
			WHERE placeinfo.address = #Address# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="PlaceinfoPagination.DescendOrderFindByAddress" parameterClass="PlaceinfoPagination" resultMap="FullResultMap" extends="Placeinfo.FindAll">
			WHERE placeinfo.address = #Address# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Placeinfo.GetFindByAddressCount" resultClass="System.Int32">
			SELECT count(*) FROM placeinfo WHERE placeinfo.address=#Address#
		</select>
		<select id="Placeinfo.FindByContactpersonname" parameterClass="String" resultMap="FullResultMap" extends="Placeinfo.FindAll">
			WHERE placeinfo.contactpersonname = #value#
		</select>
		<select id="Placeinfo.DescendOrderFindByContactpersonname" parameterClass="String" resultMap="FullResultMap" extends="Placeinfo.FindAll">
			WHERE placeinfo.contactpersonname = #value# ORDER BY id DESC
		</select>
		<select id="PlaceinfoPagination.FindByContactpersonname" parameterClass="PlaceinfoPagination" resultMap="FullResultMap" extends="Placeinfo.FindAll">
			WHERE placeinfo.contactpersonname = #Contactpersonname# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="PlaceinfoPagination.DescendOrderFindByContactpersonname" parameterClass="PlaceinfoPagination" resultMap="FullResultMap" extends="Placeinfo.FindAll">
			WHERE placeinfo.contactpersonname = #Contactpersonname# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Placeinfo.GetFindByContactpersonnameCount" resultClass="System.Int32">
			SELECT count(*) FROM placeinfo WHERE placeinfo.contactpersonname=#Contactpersonname#
		</select>
		<select id="Placeinfo.FindByContactphone" parameterClass="String" resultMap="FullResultMap" extends="Placeinfo.FindAll">
			WHERE placeinfo.contactphone = #value#
		</select>
		<select id="Placeinfo.DescendOrderFindByContactphone" parameterClass="String" resultMap="FullResultMap" extends="Placeinfo.FindAll">
			WHERE placeinfo.contactphone = #value# ORDER BY id DESC
		</select>
		<select id="PlaceinfoPagination.FindByContactphone" parameterClass="PlaceinfoPagination" resultMap="FullResultMap" extends="Placeinfo.FindAll">
			WHERE placeinfo.contactphone = #Contactphone# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="PlaceinfoPagination.DescendOrderFindByContactphone" parameterClass="PlaceinfoPagination" resultMap="FullResultMap" extends="Placeinfo.FindAll">
			WHERE placeinfo.contactphone = #Contactphone# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Placeinfo.GetFindByContactphoneCount" resultClass="System.Int32">
			SELECT count(*) FROM placeinfo WHERE placeinfo.contactphone=#Contactphone#
		</select>
		<select id="Placeinfo.Find" parameterClass="Placeinfo" resultMap="FullResultMap" extends="Placeinfo.FindAll">
			WHERE placeinfo.id=#Id#
		</select>
		<select id="Placeinfo.DescendOrderFind" parameterClass="Placeinfo" resultMap="FullResultMap" extends="Placeinfo.FindAll">
			WHERE placeinfo.id=#Id# ORDER BY id DESC
		</select>
		<select id="Placeinfo.GetFindCount" resultClass="System.Int32">
			SELECT count(*) FROM placeinfo WHERE placeinfo.id=#Id#
		</select>
		<select id="Placeinfo.FindByContactcellphone" parameterClass="String" resultMap="FullResultMap" extends="Placeinfo.FindAll">
			WHERE placeinfo.contactcellphone = #value#
		</select>
		<select id="Placeinfo.DescendOrderFindByContactcellphone" parameterClass="String" resultMap="FullResultMap" extends="Placeinfo.FindAll">
			WHERE placeinfo.contactcellphone = #value# ORDER BY id DESC
		</select>
		<select id="PlaceinfoPagination.FindByContactcellphone" parameterClass="PlaceinfoPagination" resultMap="FullResultMap" extends="Placeinfo.FindAll">
			WHERE placeinfo.contactcellphone = #Contactcellphone# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="PlaceinfoPagination.DescendOrderFindByContactcellphone" parameterClass="PlaceinfoPagination" resultMap="FullResultMap" extends="Placeinfo.FindAll">
			WHERE placeinfo.contactcellphone = #Contactcellphone# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Placeinfo.GetFindByContactcellphoneCount" resultClass="System.Int32">
			SELECT count(*) FROM placeinfo WHERE placeinfo.contactcellphone=#Contactcellphone#
		</select>
		<select id="Placeinfo.FindByCountycode" parameterClass="String" resultMap="FullResultMap" extends="Placeinfo.FindAll">
			WHERE placeinfo.countycode = #value#
		</select>
		<select id="Placeinfo.DescendOrderFindByCountycode" parameterClass="String" resultMap="FullResultMap" extends="Placeinfo.FindAll">
			WHERE placeinfo.countycode = #value# ORDER BY id DESC
		</select>
		<select id="PlaceinfoPagination.FindByCountycode" parameterClass="PlaceinfoPagination" resultMap="FullResultMap" extends="Placeinfo.FindAll">
			WHERE placeinfo.countycode = #Countycode# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="PlaceinfoPagination.DescendOrderFindByCountycode" parameterClass="PlaceinfoPagination" resultMap="FullResultMap" extends="Placeinfo.FindAll">
			WHERE placeinfo.countycode = #Countycode# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Placeinfo.GetFindByCountycodeCount" resultClass="System.Int32">
			SELECT count(*) FROM placeinfo WHERE placeinfo.countycode=#Countycode#
		</select>
		<insert id="Placeinfo.Insert" parameterClass="Placeinfo">
			INSERT INTO placeinfo (address,contactpersonname,contactphone,id,contactcellphone,countycode) VALUES (#Address#,#Contactpersonname#,#Contactphone#,#Id#,#Contactcellphone#,#Countycode#)
		</insert>
		<update id="Placeinfo.Update" parameterClass="Placeinfo">
			UPDATE placeinfo SET address=#Address#,contactpersonname=#Contactpersonname#,contactphone=#Contactphone#,contactcellphone=#Contactcellphone#,countycode=#Countycode# WHERE id=#Id#
		</update>
		<delete id="Placeinfo.DeleteByAddress" parameterClass="String">
			DELETE FROM placeinfo WHERE address=#value# 
		</delete>
		<delete id="Placeinfo.DeleteByContactpersonname" parameterClass="String">
			DELETE FROM placeinfo WHERE contactpersonname=#value# 
		</delete>
		<delete id="Placeinfo.DeleteByContactphone" parameterClass="String">
			DELETE FROM placeinfo WHERE contactphone=#value# 
		</delete>
		<delete id="Placeinfo.Delete" parameterClass="Placeinfo">
			DELETE FROM placeinfo WHERE id=#Id#
		</delete>
		<delete id="Placeinfo.DeleteByContactcellphone" parameterClass="String">
			DELETE FROM placeinfo WHERE contactcellphone=#value# 
		</delete>
		<delete id="Placeinfo.DeleteByCountycode" parameterClass="String">
			DELETE FROM placeinfo WHERE countycode=#value# 
		</delete>
	</statements>
</sqlMap>
