<?xml version="1.0" encoding="utf-8" ?> 
<sqlMap namespace="Speciallinetype" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<alias>
		<typeAlias alias="Speciallinetype" type="Trans.DAL.Entity.Speciallinetype" />
		<typeAlias alias="SpeciallinetypePagination" type="Trans.DAL.Entity.SpeciallinetypePagination" />
	</alias>
	<resultMaps>
		<resultMap id="FullResultMap" class="Speciallinetype">
			<result property="Id" column="id" dbType="bigint"/>
			<result property="Typename" column="typename" dbType="varchar"/>
		</resultMap>
	</resultMaps>
	<statements>
		<select id="Speciallinetype.GetCount" resultClass="System.Int32">
			SELECT count(*) FROM speciallinetype 
		</select>
		<select id="Speciallinetype.FindAll" resultMap="FullResultMap">
			SELECT * FROM speciallinetype
		</select>
		<select id="Speciallinetype.DescendOrderFindAll" resultMap="FullResultMap">
			SELECT * FROM speciallinetype ORDER BY id DESC
		</select>
		<select id="Speciallinetype.FindAllPagination" parameterClass="SpeciallinetypePagination" resultMap="FullResultMap">
			SELECT * FROM speciallinetype limit #Limit# offset #Offset# 
		</select>
		<select id="Speciallinetype.DescendOrderFindAllPagination" parameterClass="SpeciallinetypePagination" resultMap="FullResultMap">
			SELECT * FROM speciallinetype ORDER BY id desc limit #Limit# offset #Offset# 
		</select>
		<select id="Speciallinetype.Find" parameterClass="Speciallinetype" resultMap="FullResultMap" extends="Speciallinetype.FindAll">
			WHERE speciallinetype.id=#Id#
		</select>
		<select id="Speciallinetype.DescendOrderFind" parameterClass="Speciallinetype" resultMap="FullResultMap" extends="Speciallinetype.FindAll">
			WHERE speciallinetype.id=#Id# ORDER BY id DESC
		</select>
		<select id="Speciallinetype.GetFindCount" resultClass="System.Int32">
			SELECT count(*) FROM speciallinetype WHERE speciallinetype.id=#Id#
		</select>
		<select id="Speciallinetype.FindByTypename" parameterClass="String" resultMap="FullResultMap" extends="Speciallinetype.FindAll">
			WHERE speciallinetype.typename = #value#
		</select>
		<select id="Speciallinetype.DescendOrderFindByTypename" parameterClass="String" resultMap="FullResultMap" extends="Speciallinetype.FindAll">
			WHERE speciallinetype.typename = #value# ORDER BY id DESC
		</select>
		<select id="SpeciallinetypePagination.FindByTypename" parameterClass="SpeciallinetypePagination" resultMap="FullResultMap" extends="Speciallinetype.FindAll">
			WHERE speciallinetype.typename = #Typename# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="SpeciallinetypePagination.DescendOrderFindByTypename" parameterClass="SpeciallinetypePagination" resultMap="FullResultMap" extends="Speciallinetype.FindAll">
			WHERE speciallinetype.typename = #Typename# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Speciallinetype.GetFindByTypenameCount" resultClass="System.Int32">
			SELECT count(*) FROM speciallinetype WHERE speciallinetype.typename=#Typename#
		</select>
		<insert id="Speciallinetype.Insert" parameterClass="Speciallinetype">
			INSERT INTO speciallinetype (id,typename) VALUES (#Id#,#Typename#)
		</insert>
		<update id="Speciallinetype.Update" parameterClass="Speciallinetype">
			UPDATE speciallinetype SET typename=#Typename# WHERE id=#Id#
		</update>
		<delete id="Speciallinetype.Delete" parameterClass="Speciallinetype">
			DELETE FROM speciallinetype WHERE id=#Id#
		</delete>
		<delete id="Speciallinetype.DeleteByTypename" parameterClass="String">
			DELETE FROM speciallinetype WHERE typename=#value# 
		</delete>
	</statements>
</sqlMap>
