<?xml version="1.0" encoding="utf-8" ?> 
<sqlMap namespace="Trunkinformation" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<alias>
		<typeAlias alias="Trunkinformation" type="Trans.DAL.Entity.Trunkinformation" />
		<typeAlias alias="TrunkinformationPagination" type="Trans.DAL.Entity.TrunkinformationPagination" />
	</alias>
	<resultMaps>
		<resultMap id="FullResultMap" class="Trunkinformation">
			<result property="Srccountycode" column="srccountycode" dbType="varchar"/>
			<result property="Marketprice" column="marketprice" dbType="varchar"/>
			<result property="Timetypeid" column="timetypeid" dbType="bigint"/>
			<result property="Takeofftime" column="takeofftime" dbType="datetime"/>
			<result property="Router" column="router" dbType="varchar"/>
			<result property="Userid" column="userid" dbType="bigint"/>
			<result property="Negotiateprice" column="negotiateprice" dbType="varchar"/>
			<result property="Returntypeid" column="returntypeid" dbType="bigint"/>
			<result property="Active" column="active" dbType="tinyint"/>
			<result property="Trunkid" column="trunkid" dbType="bigint"/>
			<result property="Title" column="title" dbType="varchar"/>
			<result property="Id" column="id" dbType="bigint"/>
			<result property="Dstcountycode" column="dstcountycode" dbType="varchar"/>
			<result property="Releasedate" column="releasedate" dbType="datetime"/>
			<result property="Description" column="description" dbType="varchar"/>
			<result property="Routetypeid" column="routetypeid" dbType="bigint"/>
		</resultMap>
	</resultMaps>
	<statements>
		<select id="Trunkinformation.GetCount" resultClass="System.Int32">
			SELECT count(*) FROM trunkinformation 
		</select>
		<select id="Trunkinformation.FindAll" resultMap="FullResultMap">
			SELECT * FROM trunkinformation
		</select>
		<select id="Trunkinformation.FindAllPagination" parameterClass="TrunkinformationPagination" resultMap="FullResultMap">
			SELECT * FROM trunkinformation limit #Limit# offset #Offset# 
		</select>
		<select id="Trunkinformation.FindBySrccountycode" parameterClass="String" resultMap="FullResultMap" extends="Trunkinformation.FindAll">
			WHERE trunkinformation.srccountycode = #value#
		</select>
		<select id="TrunkinformationPagination.FindBySrccountycode" parameterClass="TrunkinformationPagination" resultMap="FullResultMap" extends="Trunkinformation.FindAll">
			WHERE trunkinformation.srccountycode = #Srccountycode# limit #Limit# offset #Offset# 
		</select>
		<select id="Trunkinformation.FindByMarketprice" parameterClass="String" resultMap="FullResultMap" extends="Trunkinformation.FindAll">
			WHERE trunkinformation.marketprice = #value#
		</select>
		<select id="TrunkinformationPagination.FindByMarketprice" parameterClass="TrunkinformationPagination" resultMap="FullResultMap" extends="Trunkinformation.FindAll">
			WHERE trunkinformation.marketprice = #Marketprice# limit #Limit# offset #Offset# 
		</select>
		<select id="Trunkinformation.FindByTimetypeid" parameterClass="Int64" resultMap="FullResultMap" extends="Trunkinformation.FindAll">
			WHERE trunkinformation.timetypeid = #value#
		</select>
		<select id="TrunkinformationPagination.FindByTimetypeid" parameterClass="TrunkinformationPagination" resultMap="FullResultMap" extends="Trunkinformation.FindAll">
			WHERE trunkinformation.timetypeid = #Timetypeid# limit #Limit# offset #Offset# 
		</select>
		<select id="Trunkinformation.FindByTakeofftime" parameterClass="DateTime" resultMap="FullResultMap" extends="Trunkinformation.FindAll">
			WHERE trunkinformation.takeofftime = #value#
		</select>
		<select id="TrunkinformationPagination.FindByTakeofftime" parameterClass="TrunkinformationPagination" resultMap="FullResultMap" extends="Trunkinformation.FindAll">
			WHERE trunkinformation.takeofftime = #Takeofftime# limit #Limit# offset #Offset# 
		</select>
		<select id="Trunkinformation.FindByRouter" parameterClass="String" resultMap="FullResultMap" extends="Trunkinformation.FindAll">
			WHERE trunkinformation.router = #value#
		</select>
		<select id="TrunkinformationPagination.FindByRouter" parameterClass="TrunkinformationPagination" resultMap="FullResultMap" extends="Trunkinformation.FindAll">
			WHERE trunkinformation.router = #Router# limit #Limit# offset #Offset# 
		</select>
		<select id="Trunkinformation.FindByUserid" parameterClass="Int64" resultMap="FullResultMap" extends="Trunkinformation.FindAll">
			WHERE trunkinformation.userid = #value#
		</select>
		<select id="TrunkinformationPagination.FindByUserid" parameterClass="TrunkinformationPagination" resultMap="FullResultMap" extends="Trunkinformation.FindAll">
			WHERE trunkinformation.userid = #Userid# limit #Limit# offset #Offset# 
		</select>
		<select id="Trunkinformation.FindByNegotiateprice" parameterClass="String" resultMap="FullResultMap" extends="Trunkinformation.FindAll">
			WHERE trunkinformation.negotiateprice = #value#
		</select>
		<select id="TrunkinformationPagination.FindByNegotiateprice" parameterClass="TrunkinformationPagination" resultMap="FullResultMap" extends="Trunkinformation.FindAll">
			WHERE trunkinformation.negotiateprice = #Negotiateprice# limit #Limit# offset #Offset# 
		</select>
		<select id="Trunkinformation.FindByReturntypeid" parameterClass="Int64" resultMap="FullResultMap" extends="Trunkinformation.FindAll">
			WHERE trunkinformation.returntypeid = #value#
		</select>
		<select id="TrunkinformationPagination.FindByReturntypeid" parameterClass="TrunkinformationPagination" resultMap="FullResultMap" extends="Trunkinformation.FindAll">
			WHERE trunkinformation.returntypeid = #Returntypeid# limit #Limit# offset #Offset# 
		</select>
		<select id="Trunkinformation.FindByActive" parameterClass="Byte" resultMap="FullResultMap" extends="Trunkinformation.FindAll">
			WHERE trunkinformation.active = #value#
		</select>
		<select id="TrunkinformationPagination.FindByActive" parameterClass="TrunkinformationPagination" resultMap="FullResultMap" extends="Trunkinformation.FindAll">
			WHERE trunkinformation.active = #Active# limit #Limit# offset #Offset# 
		</select>
		<select id="Trunkinformation.FindByTrunkid" parameterClass="Int64" resultMap="FullResultMap" extends="Trunkinformation.FindAll">
			WHERE trunkinformation.trunkid = #value#
		</select>
		<select id="TrunkinformationPagination.FindByTrunkid" parameterClass="TrunkinformationPagination" resultMap="FullResultMap" extends="Trunkinformation.FindAll">
			WHERE trunkinformation.trunkid = #Trunkid# limit #Limit# offset #Offset# 
		</select>
		<select id="Trunkinformation.FindByTitle" parameterClass="String" resultMap="FullResultMap" extends="Trunkinformation.FindAll">
			WHERE trunkinformation.title = #value#
		</select>
		<select id="TrunkinformationPagination.FindByTitle" parameterClass="TrunkinformationPagination" resultMap="FullResultMap" extends="Trunkinformation.FindAll">
			WHERE trunkinformation.title = #Title# limit #Limit# offset #Offset# 
		</select>
		<select id="Trunkinformation.Find" parameterClass="Trunkinformation" resultMap="FullResultMap" extends="Trunkinformation.FindAll">
			WHERE trunkinformation.id=#Id#
		</select>
		<select id="Trunkinformation.FindByDstcountycode" parameterClass="String" resultMap="FullResultMap" extends="Trunkinformation.FindAll">
			WHERE trunkinformation.dstcountycode = #value#
		</select>
		<select id="TrunkinformationPagination.FindByDstcountycode" parameterClass="TrunkinformationPagination" resultMap="FullResultMap" extends="Trunkinformation.FindAll">
			WHERE trunkinformation.dstcountycode = #Dstcountycode# limit #Limit# offset #Offset# 
		</select>
		<select id="Trunkinformation.FindByReleasedate" parameterClass="DateTime" resultMap="FullResultMap" extends="Trunkinformation.FindAll">
			WHERE trunkinformation.releasedate = #value#
		</select>
		<select id="TrunkinformationPagination.FindByReleasedate" parameterClass="TrunkinformationPagination" resultMap="FullResultMap" extends="Trunkinformation.FindAll">
			WHERE trunkinformation.releasedate = #Releasedate# limit #Limit# offset #Offset# 
		</select>
		<select id="Trunkinformation.FindByDescription" parameterClass="String" resultMap="FullResultMap" extends="Trunkinformation.FindAll">
			WHERE trunkinformation.description = #value#
		</select>
		<select id="TrunkinformationPagination.FindByDescription" parameterClass="TrunkinformationPagination" resultMap="FullResultMap" extends="Trunkinformation.FindAll">
			WHERE trunkinformation.description = #Description# limit #Limit# offset #Offset# 
		</select>
		<select id="Trunkinformation.FindByRoutetypeid" parameterClass="Int64" resultMap="FullResultMap" extends="Trunkinformation.FindAll">
			WHERE trunkinformation.routetypeid = #value#
		</select>
		<select id="TrunkinformationPagination.FindByRoutetypeid" parameterClass="TrunkinformationPagination" resultMap="FullResultMap" extends="Trunkinformation.FindAll">
			WHERE trunkinformation.routetypeid = #Routetypeid# limit #Limit# offset #Offset# 
		</select>
		<insert id="Trunkinformation.Insert" parameterClass="Trunkinformation">
			INSERT INTO trunkinformation (srccountycode,marketprice,timetypeid,takeofftime,router,userid,negotiateprice,returntypeid,active,trunkid,title,id,dstcountycode,releasedate,description,routetypeid) VALUES (#Srccountycode#,#Marketprice#,#Timetypeid#,#Takeofftime#,#Router#,#Userid#,#Negotiateprice#,#Returntypeid#,#Active#,#Trunkid#,#Title#,#Id#,#Dstcountycode#,#Releasedate#,#Description#,#Routetypeid#)
		</insert>
		<update id="Trunkinformation.Update" parameterClass="Trunkinformation">
			UPDATE trunkinformation SET srccountycode=#Srccountycode#,marketprice=#Marketprice#,timetypeid=#Timetypeid#,takeofftime=#Takeofftime#,router=#Router#,userid=#Userid#,negotiateprice=#Negotiateprice#,returntypeid=#Returntypeid#,active=#Active#,trunkid=#Trunkid#,title=#Title#,dstcountycode=#Dstcountycode#,releasedate=#Releasedate#,description=#Description#,routetypeid=#Routetypeid# WHERE id=#Id#
		</update>
		<delete id="Trunkinformation.DeleteBySrccountycode" parameterClass="String">
			DELETE FROM trunkinformation WHERE srccountycode=#value# 
		</delete>
		<delete id="Trunkinformation.DeleteByMarketprice" parameterClass="String">
			DELETE FROM trunkinformation WHERE marketprice=#value# 
		</delete>
		<delete id="Trunkinformation.DeleteByTimetypeid" parameterClass="Int64">
			DELETE FROM trunkinformation WHERE timetypeid=#value# 
		</delete>
		<delete id="Trunkinformation.DeleteByTakeofftime" parameterClass="DateTime">
			DELETE FROM trunkinformation WHERE takeofftime=#value# 
		</delete>
		<delete id="Trunkinformation.DeleteByRouter" parameterClass="String">
			DELETE FROM trunkinformation WHERE router=#value# 
		</delete>
		<delete id="Trunkinformation.DeleteByUserid" parameterClass="Int64">
			DELETE FROM trunkinformation WHERE userid=#value# 
		</delete>
		<delete id="Trunkinformation.DeleteByNegotiateprice" parameterClass="String">
			DELETE FROM trunkinformation WHERE negotiateprice=#value# 
		</delete>
		<delete id="Trunkinformation.DeleteByReturntypeid" parameterClass="Int64">
			DELETE FROM trunkinformation WHERE returntypeid=#value# 
		</delete>
		<delete id="Trunkinformation.DeleteByActive" parameterClass="Byte">
			DELETE FROM trunkinformation WHERE active=#value# 
		</delete>
		<delete id="Trunkinformation.DeleteByTrunkid" parameterClass="Int64">
			DELETE FROM trunkinformation WHERE trunkid=#value# 
		</delete>
		<delete id="Trunkinformation.DeleteByTitle" parameterClass="String">
			DELETE FROM trunkinformation WHERE title=#value# 
		</delete>
		<delete id="Trunkinformation.Delete" parameterClass="Trunkinformation">
			DELETE FROM trunkinformation WHERE id=#Id#
		</delete>
		<delete id="Trunkinformation.DeleteByDstcountycode" parameterClass="String">
			DELETE FROM trunkinformation WHERE dstcountycode=#value# 
		</delete>
		<delete id="Trunkinformation.DeleteByReleasedate" parameterClass="DateTime">
			DELETE FROM trunkinformation WHERE releasedate=#value# 
		</delete>
		<delete id="Trunkinformation.DeleteByDescription" parameterClass="String">
			DELETE FROM trunkinformation WHERE description=#value# 
		</delete>
		<delete id="Trunkinformation.DeleteByRoutetypeid" parameterClass="Int64">
			DELETE FROM trunkinformation WHERE routetypeid=#value# 
		</delete>
	</statements>
</sqlMap>
