<?xml version="1.0" encoding="utf-8" ?> 
<sqlMap namespace="Trunktype" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<alias>
		<typeAlias alias="Trunktype" type="Trans.DAL.Entity.Trunktype" />
		<typeAlias alias="TrunktypePagination" type="Trans.DAL.Entity.TrunktypePagination" />
	</alias>
	<resultMaps>
		<resultMap id="FullResultMap" class="Trunktype">
			<result property="Id" column="id" dbType="bigint"/>
			<result property="Typename" column="typename" dbType="varchar"/>
		</resultMap>
	</resultMaps>
	<statements>
		<select id="Trunktype.GetCount" resultClass="System.Int32">
			SELECT count(*) FROM trunktype 
		</select>
		<select id="Trunktype.FindAll" resultMap="FullResultMap">
			SELECT * FROM trunktype
		</select>
		<select id="Trunktype.FindAllPagination" parameterClass="TrunktypePagination" resultMap="FullResultMap">
			SELECT * FROM trunktype limit #Limit# offset #Offset# 
		</select>
		<select id="Trunktype.Find" parameterClass="Trunktype" resultMap="FullResultMap" extends="Trunktype.FindAll">
			WHERE trunktype.id=#Id#
		</select>
		<select id="Trunktype.FindByTypename" parameterClass="String" resultMap="FullResultMap" extends="Trunktype.FindAll">
			WHERE trunktype.typename = #value#
		</select>
		<select id="TrunktypePagination.FindByTypename" parameterClass="TrunktypePagination" resultMap="FullResultMap" extends="Trunktype.FindAll">
			WHERE trunktype.typename = #Typename# limit #Limit# offset #Offset# 
		</select>
		<insert id="Trunktype.Insert" parameterClass="Trunktype">
			INSERT INTO trunktype (id,typename) VALUES (#Id#,#Typename#)
		</insert>
		<update id="Trunktype.Update" parameterClass="Trunktype">
			UPDATE trunktype SET typename=#Typename# WHERE id=#Id#
		</update>
		<delete id="Trunktype.Delete" parameterClass="Trunktype">
			DELETE FROM trunktype WHERE id=#Id#
		</delete>
		<delete id="Trunktype.DeleteByTypename" parameterClass="String">
			DELETE FROM trunktype WHERE typename=#value# 
		</delete>
	</statements>
</sqlMap>
