<?xml version="1.0" encoding="utf-8" ?> 
<sqlMap namespace="Trunknumberprefix" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<alias>
		<typeAlias alias="Trunknumberprefix" type="Trans.DAL.Entity.Trunknumberprefix" />
		<typeAlias alias="TrunknumberprefixPagination" type="Trans.DAL.Entity.TrunknumberprefixPagination" />
	</alias>
	<resultMaps>
		<resultMap id="FullResultMap" class="Trunknumberprefix">
			<result property="Id" column="id" dbType="bigint"/>
			<result property="Prefixname" column="prefixname" dbType="varchar"/>
		</resultMap>
	</resultMaps>
	<statements>
		<select id="Trunknumberprefix.GetCount" resultClass="System.Int32">
			SELECT count(*) FROM trunknumberprefix 
		</select>
		<select id="Trunknumberprefix.FindAll" resultMap="FullResultMap">
			SELECT * FROM trunknumberprefix
		</select>
		<select id="Trunknumberprefix.DescendOrderFindAll" resultMap="FullResultMap">
			SELECT * FROM trunknumberprefix ORDER BY id DESC
		</select>
		<select id="Trunknumberprefix.FindAllPagination" parameterClass="TrunknumberprefixPagination" resultMap="FullResultMap">
			SELECT * FROM trunknumberprefix limit #Limit# offset #Offset# 
		</select>
		<select id="Trunknumberprefix.DescendOrderFindAllPagination" parameterClass="TrunknumberprefixPagination" resultMap="FullResultMap">
			SELECT * FROM trunknumberprefix ORDER BY id desc limit #Limit# offset #Offset# 
		</select>
		<select id="Trunknumberprefix.Find" parameterClass="Trunknumberprefix" resultMap="FullResultMap" extends="Trunknumberprefix.FindAll">
			WHERE trunknumberprefix.id=#Id#
		</select>
		<select id="Trunknumberprefix.DescendOrderFind" parameterClass="Trunknumberprefix" resultMap="FullResultMap" extends="Trunknumberprefix.FindAll">
			WHERE trunknumberprefix.id=#Id# ORDER BY id DESC
		</select>
		<select id="Trunknumberprefix.GetFindCount" resultClass="System.Int32">
			SELECT count(*) FROM trunknumberprefix WHERE trunknumberprefix.id=#Id#
		</select>
		<select id="Trunknumberprefix.FindByPrefixname" parameterClass="String" resultMap="FullResultMap" extends="Trunknumberprefix.FindAll">
			WHERE trunknumberprefix.prefixname = #value#
		</select>
		<select id="Trunknumberprefix.DescendOrderFindByPrefixname" parameterClass="String" resultMap="FullResultMap" extends="Trunknumberprefix.FindAll">
			WHERE trunknumberprefix.prefixname = #value# ORDER BY id DESC
		</select>
		<select id="TrunknumberprefixPagination.FindByPrefixname" parameterClass="TrunknumberprefixPagination" resultMap="FullResultMap" extends="Trunknumberprefix.FindAll">
			WHERE trunknumberprefix.prefixname = #Prefixname# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="TrunknumberprefixPagination.DescendOrderFindByPrefixname" parameterClass="TrunknumberprefixPagination" resultMap="FullResultMap" extends="Trunknumberprefix.FindAll">
			WHERE trunknumberprefix.prefixname = #Prefixname# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Trunknumberprefix.GetFindByPrefixnameCount" resultClass="System.Int32">
			SELECT count(*) FROM trunknumberprefix WHERE trunknumberprefix.prefixname=#Prefixname#
		</select>
		<insert id="Trunknumberprefix.Insert" parameterClass="Trunknumberprefix">
			INSERT INTO trunknumberprefix (id,prefixname) VALUES (#Id#,#Prefixname#)
		</insert>
		<update id="Trunknumberprefix.Update" parameterClass="Trunknumberprefix">
			UPDATE trunknumberprefix SET prefixname=#Prefixname# WHERE id=#Id#
		</update>
		<delete id="Trunknumberprefix.Delete" parameterClass="Trunknumberprefix">
			DELETE FROM trunknumberprefix WHERE id=#Id#
		</delete>
		<delete id="Trunknumberprefix.DeleteByPrefixname" parameterClass="String">
			DELETE FROM trunknumberprefix WHERE prefixname=#value# 
		</delete>
	</statements>
</sqlMap>
