<?xml version="1.0" encoding="utf-8" ?> 
<sqlMap namespace="Userhasrights" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<alias>
		<typeAlias alias="Userhasrights" type="Trans.DAL.Entity.Userhasrights" />
		<typeAlias alias="UserhasrightsPagination" type="Trans.DAL.Entity.UserhasrightsPagination" />
	</alias>
	<resultMaps>
		<resultMap id="FullResultMap" class="Userhasrights">
			<result property="Userid" column="userid" dbType="bigint"/>
			<result property="Id" column="id" dbType="bigint"/>
			<result property="Rightid" column="rightid" dbType="bigint"/>
			<result property="Acitve" column="acitve" dbType="tinyint"/>
		</resultMap>
	</resultMaps>
	<statements>
		<select id="Userhasrights.GetCount" resultClass="System.Int32">
			SELECT count(*) FROM user_has_rights 
		</select>
		<select id="Userhasrights.FindAll" resultMap="FullResultMap">
			SELECT * FROM user_has_rights
		</select>
		<select id="Userhasrights.DescendOrderFindAll" resultMap="FullResultMap">
			SELECT * FROM user_has_rights ORDER BY id DESC
		</select>
		<select id="Userhasrights.FindAllPagination" parameterClass="UserhasrightsPagination" resultMap="FullResultMap">
			SELECT * FROM user_has_rights limit #Limit# offset #Offset# 
		</select>
		<select id="Userhasrights.DescendOrderFindAllPagination" parameterClass="UserhasrightsPagination" resultMap="FullResultMap">
			SELECT * FROM user_has_rights ORDER BY id desc limit #Limit# offset #Offset# 
		</select>
		<select id="Userhasrights.FindByUserid" parameterClass="Int64" resultMap="FullResultMap" extends="Userhasrights.FindAll">
			WHERE user_has_rights.userid = #value#
		</select>
		<select id="Userhasrights.DescendOrderFindByUserid" parameterClass="Int64" resultMap="FullResultMap" extends="Userhasrights.FindAll">
			WHERE user_has_rights.userid = #value# ORDER BY id DESC
		</select>
		<select id="UserhasrightsPagination.FindByUserid" parameterClass="UserhasrightsPagination" resultMap="FullResultMap" extends="Userhasrights.FindAll">
			WHERE user_has_rights.userid = #Userid# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="UserhasrightsPagination.DescendOrderFindByUserid" parameterClass="UserhasrightsPagination" resultMap="FullResultMap" extends="Userhasrights.FindAll">
			WHERE user_has_rights.userid = #Userid# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Userhasrights.GetFindByUseridCount" resultClass="System.Int32">
			SELECT count(*) FROM user_has_rights WHERE user_has_rights.userid=#Userid#
		</select>
		<select id="Userhasrights.Find" parameterClass="Userhasrights" resultMap="FullResultMap" extends="Userhasrights.FindAll">
			WHERE user_has_rights.id=#Id#
		</select>
		<select id="Userhasrights.DescendOrderFind" parameterClass="Userhasrights" resultMap="FullResultMap" extends="Userhasrights.FindAll">
			WHERE user_has_rights.id=#Id# ORDER BY id DESC
		</select>
		<select id="Userhasrights.GetFindCount" resultClass="System.Int32">
			SELECT count(*) FROM user_has_rights WHERE user_has_rights.id=#Id#
		</select>
		<select id="Userhasrights.FindByRightid" parameterClass="Int64" resultMap="FullResultMap" extends="Userhasrights.FindAll">
			WHERE user_has_rights.rightid = #value#
		</select>
		<select id="Userhasrights.DescendOrderFindByRightid" parameterClass="Int64" resultMap="FullResultMap" extends="Userhasrights.FindAll">
			WHERE user_has_rights.rightid = #value# ORDER BY id DESC
		</select>
		<select id="UserhasrightsPagination.FindByRightid" parameterClass="UserhasrightsPagination" resultMap="FullResultMap" extends="Userhasrights.FindAll">
			WHERE user_has_rights.rightid = #Rightid# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="UserhasrightsPagination.DescendOrderFindByRightid" parameterClass="UserhasrightsPagination" resultMap="FullResultMap" extends="Userhasrights.FindAll">
			WHERE user_has_rights.rightid = #Rightid# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Userhasrights.GetFindByRightidCount" resultClass="System.Int32">
			SELECT count(*) FROM user_has_rights WHERE user_has_rights.rightid=#Rightid#
		</select>
		<select id="Userhasrights.FindByAcitve" parameterClass="Byte" resultMap="FullResultMap" extends="Userhasrights.FindAll">
			WHERE user_has_rights.acitve = #value#
		</select>
		<select id="Userhasrights.DescendOrderFindByAcitve" parameterClass="Byte" resultMap="FullResultMap" extends="Userhasrights.FindAll">
			WHERE user_has_rights.acitve = #value# ORDER BY id DESC
		</select>
		<select id="UserhasrightsPagination.FindByAcitve" parameterClass="UserhasrightsPagination" resultMap="FullResultMap" extends="Userhasrights.FindAll">
			WHERE user_has_rights.acitve = #Acitve# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="UserhasrightsPagination.DescendOrderFindByAcitve" parameterClass="UserhasrightsPagination" resultMap="FullResultMap" extends="Userhasrights.FindAll">
			WHERE user_has_rights.acitve = #Acitve# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Userhasrights.GetFindByAcitveCount" resultClass="System.Int32">
			SELECT count(*) FROM user_has_rights WHERE user_has_rights.acitve=#Acitve#
		</select>
		<insert id="Userhasrights.Insert" parameterClass="Userhasrights">
			INSERT INTO user_has_rights (userid,id,rightid,acitve) VALUES (#Userid#,#Id#,#Rightid#,#Acitve#)
		</insert>
		<update id="Userhasrights.Update" parameterClass="Userhasrights">
			UPDATE user_has_rights SET userid=#Userid#,rightid=#Rightid#,acitve=#Acitve# WHERE id=#Id#
		</update>
		<delete id="Userhasrights.DeleteByUserid" parameterClass="Int64">
			DELETE FROM user_has_rights WHERE userid=#value# 
		</delete>
		<delete id="Userhasrights.Delete" parameterClass="Userhasrights">
			DELETE FROM user_has_rights WHERE id=#Id#
		</delete>
		<delete id="Userhasrights.DeleteByRightid" parameterClass="Int64">
			DELETE FROM user_has_rights WHERE rightid=#value# 
		</delete>
		<delete id="Userhasrights.DeleteByAcitve" parameterClass="Byte">
			DELETE FROM user_has_rights WHERE acitve=#value# 
		</delete>
	</statements>
</sqlMap>
