<?xml version="1.0" encoding="utf-8" ?> 
<sqlMap namespace="Users" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<alias>
		<typeAlias alias="Users" type="Trans.DAL.Entity.Users" />
		<typeAlias alias="UsersPagination" type="Trans.DAL.Entity.UsersPagination" />
	</alias>
	<resultMaps>
		<resultMap id="FullResultMap" class="Users">
			<result property="Active" column="active" dbType="tinyint"/>
			<result property="Username" column="username" dbType="varchar"/>
			<result property="Id" column="id" dbType="bigint"/>
			<result property="Roleid" column="roleid" dbType="bigint"/>
			<result property="Loginname" column="loginname" dbType="varchar"/>
			<result property="Note" column="note" dbType="text"/>
			<result property="Password" column="password" dbType="varchar"/>
		</resultMap>
	</resultMaps>
	<statements>
		<select id="Users.GetCount" resultClass="System.Int32">
			SELECT count(*) FROM users 
		</select>
		<select id="Users.FindAll" resultMap="FullResultMap">
			SELECT * FROM users
		</select>
		<select id="Users.DescendOrderFindAll" resultMap="FullResultMap">
			SELECT * FROM users ORDER BY id DESC
		</select>
		<select id="Users.FindAllPagination" parameterClass="UsersPagination" resultMap="FullResultMap">
			SELECT * FROM users limit #Limit# offset #Offset# 
		</select>
		<select id="Users.DescendOrderFindAllPagination" parameterClass="UsersPagination" resultMap="FullResultMap">
			SELECT * FROM users ORDER BY id desc limit #Limit# offset #Offset# 
		</select>
		<select id="Users.FindByActive" parameterClass="Byte" resultMap="FullResultMap" extends="Users.FindAll">
			WHERE users.active = #value#
		</select>
		<select id="Users.DescendOrderFindByActive" parameterClass="Byte" resultMap="FullResultMap" extends="Users.FindAll">
			WHERE users.active = #value# ORDER BY id DESC
		</select>
		<select id="UsersPagination.FindByActive" parameterClass="UsersPagination" resultMap="FullResultMap" extends="Users.FindAll">
			WHERE users.active = #Active# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="UsersPagination.DescendOrderFindByActive" parameterClass="UsersPagination" resultMap="FullResultMap" extends="Users.FindAll">
			WHERE users.active = #Active# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Users.GetFindByActiveCount" resultClass="System.Int32">
			SELECT count(*) FROM users WHERE users.active=#Active#
		</select>
		<select id="Users.FindByUsername" parameterClass="String" resultMap="FullResultMap" extends="Users.FindAll">
			WHERE users.username = #value#
		</select>
		<select id="Users.DescendOrderFindByUsername" parameterClass="String" resultMap="FullResultMap" extends="Users.FindAll">
			WHERE users.username = #value# ORDER BY id DESC
		</select>
		<select id="UsersPagination.FindByUsername" parameterClass="UsersPagination" resultMap="FullResultMap" extends="Users.FindAll">
			WHERE users.username = #Username# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="UsersPagination.DescendOrderFindByUsername" parameterClass="UsersPagination" resultMap="FullResultMap" extends="Users.FindAll">
			WHERE users.username = #Username# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Users.GetFindByUsernameCount" resultClass="System.Int32">
			SELECT count(*) FROM users WHERE users.username=#Username#
		</select>
		<select id="Users.Find" parameterClass="Users" resultMap="FullResultMap" extends="Users.FindAll">
			WHERE users.id=#Id#
		</select>
		<select id="Users.DescendOrderFind" parameterClass="Users" resultMap="FullResultMap" extends="Users.FindAll">
			WHERE users.id=#Id# ORDER BY id DESC
		</select>
		<select id="Users.GetFindCount" resultClass="System.Int32">
			SELECT count(*) FROM users WHERE users.id=#Id#
		</select>
		<select id="Users.FindByRoleid" parameterClass="Int64" resultMap="FullResultMap" extends="Users.FindAll">
			WHERE users.roleid = #value#
		</select>
		<select id="Users.DescendOrderFindByRoleid" parameterClass="Int64" resultMap="FullResultMap" extends="Users.FindAll">
			WHERE users.roleid = #value# ORDER BY id DESC
		</select>
		<select id="UsersPagination.FindByRoleid" parameterClass="UsersPagination" resultMap="FullResultMap" extends="Users.FindAll">
			WHERE users.roleid = #Roleid# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="UsersPagination.DescendOrderFindByRoleid" parameterClass="UsersPagination" resultMap="FullResultMap" extends="Users.FindAll">
			WHERE users.roleid = #Roleid# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Users.GetFindByRoleidCount" resultClass="System.Int32">
			SELECT count(*) FROM users WHERE users.roleid=#Roleid#
		</select>
		<select id="Users.FindByLoginname" parameterClass="String" resultMap="FullResultMap" extends="Users.FindAll">
			WHERE users.loginname = #value#
		</select>
		<select id="Users.DescendOrderFindByLoginname" parameterClass="String" resultMap="FullResultMap" extends="Users.FindAll">
			WHERE users.loginname = #value# ORDER BY id DESC
		</select>
		<select id="UsersPagination.FindByLoginname" parameterClass="UsersPagination" resultMap="FullResultMap" extends="Users.FindAll">
			WHERE users.loginname = #Loginname# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="UsersPagination.DescendOrderFindByLoginname" parameterClass="UsersPagination" resultMap="FullResultMap" extends="Users.FindAll">
			WHERE users.loginname = #Loginname# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Users.GetFindByLoginnameCount" resultClass="System.Int32">
			SELECT count(*) FROM users WHERE users.loginname=#Loginname#
		</select>
		<select id="Users.FindByNote" parameterClass="String" resultMap="FullResultMap" extends="Users.FindAll">
			WHERE users.note = #value#
		</select>
		<select id="Users.DescendOrderFindByNote" parameterClass="String" resultMap="FullResultMap" extends="Users.FindAll">
			WHERE users.note = #value# ORDER BY id DESC
		</select>
		<select id="UsersPagination.FindByNote" parameterClass="UsersPagination" resultMap="FullResultMap" extends="Users.FindAll">
			WHERE users.note = #Note# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="UsersPagination.DescendOrderFindByNote" parameterClass="UsersPagination" resultMap="FullResultMap" extends="Users.FindAll">
			WHERE users.note = #Note# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Users.GetFindByNoteCount" resultClass="System.Int32">
			SELECT count(*) FROM users WHERE users.note=#Note#
		</select>
		<select id="Users.FindByPassword" parameterClass="String" resultMap="FullResultMap" extends="Users.FindAll">
			WHERE users.password = #value#
		</select>
		<select id="Users.DescendOrderFindByPassword" parameterClass="String" resultMap="FullResultMap" extends="Users.FindAll">
			WHERE users.password = #value# ORDER BY id DESC
		</select>
		<select id="UsersPagination.FindByPassword" parameterClass="UsersPagination" resultMap="FullResultMap" extends="Users.FindAll">
			WHERE users.password = #Password# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="UsersPagination.DescendOrderFindByPassword" parameterClass="UsersPagination" resultMap="FullResultMap" extends="Users.FindAll">
			WHERE users.password = #Password# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Users.GetFindByPasswordCount" resultClass="System.Int32">
			SELECT count(*) FROM users WHERE users.password=#Password#
		</select>
		<insert id="Users.Insert" parameterClass="Users">
			INSERT INTO users (active,username,id,roleid,loginname,note,password) VALUES (#Active#,#Username#,#Id#,#Roleid#,#Loginname#,#Note#,#Password#)
		</insert>
		<update id="Users.Update" parameterClass="Users">
			UPDATE users SET active=#Active#,username=#Username#,roleid=#Roleid#,loginname=#Loginname#,note=#Note#,password=#Password# WHERE id=#Id#
		</update>
		<delete id="Users.DeleteByActive" parameterClass="Byte">
			DELETE FROM users WHERE active=#value# 
		</delete>
		<delete id="Users.DeleteByUsername" parameterClass="String">
			DELETE FROM users WHERE username=#value# 
		</delete>
		<delete id="Users.Delete" parameterClass="Users">
			DELETE FROM users WHERE id=#Id#
		</delete>
		<delete id="Users.DeleteByRoleid" parameterClass="Int64">
			DELETE FROM users WHERE roleid=#value# 
		</delete>
		<delete id="Users.DeleteByLoginname" parameterClass="String">
			DELETE FROM users WHERE loginname=#value# 
		</delete>
		<delete id="Users.DeleteByNote" parameterClass="String">
			DELETE FROM users WHERE note=#value# 
		</delete>
		<delete id="Users.DeleteByPassword" parameterClass="String">
			DELETE FROM users WHERE password=#value# 
		</delete>
	</statements>
</sqlMap>
