<?xml version="1.0" encoding="utf-8" ?> 
<sqlMap namespace="Vgoodssourceinformation" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<alias>
		<typeAlias alias="Vgoodssourceinformation" type="Trans.DAL.Entity.Vgoodssourceinformation" />
		<typeAlias alias="VgoodssourceinformationPagination" type="Trans.DAL.Entity.VgoodssourceinformationPagination" />
	</alias>
	<resultMaps>
		<resultMap id="FullResultMap" class="Vgoodssourceinformation">
			<result property="Goodstypename" column="goodstypename" dbType="varchar"/>
			<result property="Needtrunkvolume" column="needtrunkvolume" dbType="bigint"/>
			<result property="Deadline" column="deadline" dbType="datetime"/>
			<result property="Needtrunkweight" column="needtrunkweight" dbType="bigint"/>
			<result property="Transporttypename" column="transporttypename" dbType="varchar"/>
			<result property="Cautiontypename" column="cautiontypename" dbType="varchar"/>
			<result property="Needtrunklength" column="needtrunklength" dbType="bigint"/>
			<result property="Price" column="price" dbType="varchar"/>
			<result property="Goodsname" column="goodsname" dbType="varchar"/>
			<result property="Srccityname" column="srccityname" dbType="varchar"/>
			<result property="Srccitycode" column="srccitycode" dbType="varchar"/>
			<result property="Srcregionname" column="srcregionname" dbType="varchar"/>
			<result property="Content" column="content" dbType="text"/>
			<result property="Id" column="id" dbType="bigint"/>
			<result property="Dstregionname" column="dstregionname" dbType="varchar"/>
			<result property="Releasedate" column="releasedate" dbType="datetime"/>
			<result property="Dstcityname" column="dstcityname" dbType="varchar"/>
			<result property="Dstcitycode" column="dstcitycode" dbType="varchar"/>
			<result property="Title" column="title" dbType="varchar"/>
			<result property="Titlecolor" column="titlecolor" dbType="varchar"/>
			<result property="Username" column="username" dbType="varchar"/>
		</resultMap>
	</resultMaps>
	<statements>
		<select id="Vgoodssourceinformation.GetCount" resultClass="System.Int32">
			SELECT count(*) FROM v_goodssourceinformation 
		</select>
		<select id="Vgoodssourceinformation.FindAll" resultMap="FullResultMap">
			SELECT * FROM v_goodssourceinformation
		</select>
		<select id="Vgoodssourceinformation.DescendOrderFindAll" resultMap="FullResultMap">
			SELECT * FROM v_goodssourceinformation ORDER BY id DESC
		</select>
		<select id="Vgoodssourceinformation.FindAllPagination" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap">
			SELECT * FROM v_goodssourceinformation limit #Limit# offset #Offset# 
		</select>
		<select id="Vgoodssourceinformation.DescendOrderFindAllPagination" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap">
			SELECT * FROM v_goodssourceinformation ORDER BY id desc limit #Limit# offset #Offset# 
		</select>
		<select id="Vgoodssourceinformation.FindByGoodstypename" parameterClass="String" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.goodstypename = #value#
		</select>
		<select id="Vgoodssourceinformation.DescendOrderFindByGoodstypename" parameterClass="String" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.goodstypename = #value# ORDER BY id DESC
		</select>
		<select id="VgoodssourceinformationPagination.FindByGoodstypename" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.goodstypename = #Goodstypename# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="VgoodssourceinformationPagination.DescendOrderFindByGoodstypename" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.goodstypename = #Goodstypename# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Vgoodssourceinformation.GetFindByGoodstypenameCount" resultClass="System.Int32">
			SELECT count(*) FROM v_goodssourceinformation WHERE v_goodssourceinformation.goodstypename=#Goodstypename#
		</select>
		<select id="Vgoodssourceinformation.FindByNeedtrunkvolume" parameterClass="Int64" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.needtrunkvolume = #value#
		</select>
		<select id="Vgoodssourceinformation.DescendOrderFindByNeedtrunkvolume" parameterClass="Int64" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.needtrunkvolume = #value# ORDER BY id DESC
		</select>
		<select id="VgoodssourceinformationPagination.FindByNeedtrunkvolume" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.needtrunkvolume = #Needtrunkvolume# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="VgoodssourceinformationPagination.DescendOrderFindByNeedtrunkvolume" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.needtrunkvolume = #Needtrunkvolume# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Vgoodssourceinformation.GetFindByNeedtrunkvolumeCount" resultClass="System.Int32">
			SELECT count(*) FROM v_goodssourceinformation WHERE v_goodssourceinformation.needtrunkvolume=#Needtrunkvolume#
		</select>
		<select id="Vgoodssourceinformation.FindByDeadline" parameterClass="DateTime" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.deadline = #value#
		</select>
		<select id="Vgoodssourceinformation.DescendOrderFindByDeadline" parameterClass="DateTime" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.deadline = #value# ORDER BY id DESC
		</select>
		<select id="VgoodssourceinformationPagination.FindByDeadline" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.deadline = #Deadline# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="VgoodssourceinformationPagination.DescendOrderFindByDeadline" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.deadline = #Deadline# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Vgoodssourceinformation.GetFindByDeadlineCount" resultClass="System.Int32">
			SELECT count(*) FROM v_goodssourceinformation WHERE v_goodssourceinformation.deadline=#Deadline#
		</select>
		<select id="Vgoodssourceinformation.FindByNeedtrunkweight" parameterClass="Int64" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.needtrunkweight = #value#
		</select>
		<select id="Vgoodssourceinformation.DescendOrderFindByNeedtrunkweight" parameterClass="Int64" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.needtrunkweight = #value# ORDER BY id DESC
		</select>
		<select id="VgoodssourceinformationPagination.FindByNeedtrunkweight" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.needtrunkweight = #Needtrunkweight# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="VgoodssourceinformationPagination.DescendOrderFindByNeedtrunkweight" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.needtrunkweight = #Needtrunkweight# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Vgoodssourceinformation.GetFindByNeedtrunkweightCount" resultClass="System.Int32">
			SELECT count(*) FROM v_goodssourceinformation WHERE v_goodssourceinformation.needtrunkweight=#Needtrunkweight#
		</select>
		<select id="Vgoodssourceinformation.FindByTransporttypename" parameterClass="String" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.transporttypename = #value#
		</select>
		<select id="Vgoodssourceinformation.DescendOrderFindByTransporttypename" parameterClass="String" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.transporttypename = #value# ORDER BY id DESC
		</select>
		<select id="VgoodssourceinformationPagination.FindByTransporttypename" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.transporttypename = #Transporttypename# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="VgoodssourceinformationPagination.DescendOrderFindByTransporttypename" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.transporttypename = #Transporttypename# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Vgoodssourceinformation.GetFindByTransporttypenameCount" resultClass="System.Int32">
			SELECT count(*) FROM v_goodssourceinformation WHERE v_goodssourceinformation.transporttypename=#Transporttypename#
		</select>
		<select id="Vgoodssourceinformation.FindByCautiontypename" parameterClass="String" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.cautiontypename = #value#
		</select>
		<select id="Vgoodssourceinformation.DescendOrderFindByCautiontypename" parameterClass="String" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.cautiontypename = #value# ORDER BY id DESC
		</select>
		<select id="VgoodssourceinformationPagination.FindByCautiontypename" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.cautiontypename = #Cautiontypename# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="VgoodssourceinformationPagination.DescendOrderFindByCautiontypename" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.cautiontypename = #Cautiontypename# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Vgoodssourceinformation.GetFindByCautiontypenameCount" resultClass="System.Int32">
			SELECT count(*) FROM v_goodssourceinformation WHERE v_goodssourceinformation.cautiontypename=#Cautiontypename#
		</select>
		<select id="Vgoodssourceinformation.FindByNeedtrunklength" parameterClass="Int64" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.needtrunklength = #value#
		</select>
		<select id="Vgoodssourceinformation.DescendOrderFindByNeedtrunklength" parameterClass="Int64" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.needtrunklength = #value# ORDER BY id DESC
		</select>
		<select id="VgoodssourceinformationPagination.FindByNeedtrunklength" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.needtrunklength = #Needtrunklength# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="VgoodssourceinformationPagination.DescendOrderFindByNeedtrunklength" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.needtrunklength = #Needtrunklength# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Vgoodssourceinformation.GetFindByNeedtrunklengthCount" resultClass="System.Int32">
			SELECT count(*) FROM v_goodssourceinformation WHERE v_goodssourceinformation.needtrunklength=#Needtrunklength#
		</select>
		<select id="Vgoodssourceinformation.FindByPrice" parameterClass="String" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.price = #value#
		</select>
		<select id="Vgoodssourceinformation.DescendOrderFindByPrice" parameterClass="String" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.price = #value# ORDER BY id DESC
		</select>
		<select id="VgoodssourceinformationPagination.FindByPrice" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.price = #Price# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="VgoodssourceinformationPagination.DescendOrderFindByPrice" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.price = #Price# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Vgoodssourceinformation.GetFindByPriceCount" resultClass="System.Int32">
			SELECT count(*) FROM v_goodssourceinformation WHERE v_goodssourceinformation.price=#Price#
		</select>
		<select id="Vgoodssourceinformation.FindByGoodsname" parameterClass="String" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.goodsname = #value#
		</select>
		<select id="Vgoodssourceinformation.DescendOrderFindByGoodsname" parameterClass="String" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.goodsname = #value# ORDER BY id DESC
		</select>
		<select id="VgoodssourceinformationPagination.FindByGoodsname" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.goodsname = #Goodsname# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="VgoodssourceinformationPagination.DescendOrderFindByGoodsname" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.goodsname = #Goodsname# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Vgoodssourceinformation.GetFindByGoodsnameCount" resultClass="System.Int32">
			SELECT count(*) FROM v_goodssourceinformation WHERE v_goodssourceinformation.goodsname=#Goodsname#
		</select>
		<select id="Vgoodssourceinformation.FindBySrccityname" parameterClass="String" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.srccityname = #value#
		</select>
		<select id="Vgoodssourceinformation.DescendOrderFindBySrccityname" parameterClass="String" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.srccityname = #value# ORDER BY id DESC
		</select>
		<select id="VgoodssourceinformationPagination.FindBySrccityname" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.srccityname = #Srccityname# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="VgoodssourceinformationPagination.DescendOrderFindBySrccityname" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.srccityname = #Srccityname# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Vgoodssourceinformation.GetFindBySrccitynameCount" resultClass="System.Int32">
			SELECT count(*) FROM v_goodssourceinformation WHERE v_goodssourceinformation.srccityname=#Srccityname#
		</select>
		<select id="Vgoodssourceinformation.FindBySrccitycode" parameterClass="String" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.srccitycode = #value#
		</select>
		<select id="Vgoodssourceinformation.DescendOrderFindBySrccitycode" parameterClass="String" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.srccitycode = #value# ORDER BY id DESC
		</select>
		<select id="VgoodssourceinformationPagination.FindBySrccitycode" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.srccitycode = #Srccitycode# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="VgoodssourceinformationPagination.DescendOrderFindBySrccitycode" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.srccitycode = #Srccitycode# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Vgoodssourceinformation.GetFindBySrccitycodeCount" resultClass="System.Int32">
			SELECT count(*) FROM v_goodssourceinformation WHERE v_goodssourceinformation.srccitycode=#Srccitycode#
		</select>
		<select id="Vgoodssourceinformation.FindBySrcregionname" parameterClass="String" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.srcregionname = #value#
		</select>
		<select id="Vgoodssourceinformation.DescendOrderFindBySrcregionname" parameterClass="String" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.srcregionname = #value# ORDER BY id DESC
		</select>
		<select id="VgoodssourceinformationPagination.FindBySrcregionname" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.srcregionname = #Srcregionname# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="VgoodssourceinformationPagination.DescendOrderFindBySrcregionname" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.srcregionname = #Srcregionname# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Vgoodssourceinformation.GetFindBySrcregionnameCount" resultClass="System.Int32">
			SELECT count(*) FROM v_goodssourceinformation WHERE v_goodssourceinformation.srcregionname=#Srcregionname#
		</select>
		<select id="Vgoodssourceinformation.FindByContent" parameterClass="String" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.content = #value#
		</select>
		<select id="Vgoodssourceinformation.DescendOrderFindByContent" parameterClass="String" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.content = #value# ORDER BY id DESC
		</select>
		<select id="VgoodssourceinformationPagination.FindByContent" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.content = #Content# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="VgoodssourceinformationPagination.DescendOrderFindByContent" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.content = #Content# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Vgoodssourceinformation.GetFindByContentCount" resultClass="System.Int32">
			SELECT count(*) FROM v_goodssourceinformation WHERE v_goodssourceinformation.content=#Content#
		</select>
		<select id="Vgoodssourceinformation.FindById" parameterClass="Int64" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.id = #value#
		</select>
		<select id="Vgoodssourceinformation.DescendOrderFindById" parameterClass="Int64" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.id = #value# ORDER BY id DESC
		</select>
		<select id="VgoodssourceinformationPagination.FindById" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.id = #Id# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="VgoodssourceinformationPagination.DescendOrderFindById" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.id = #Id# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Vgoodssourceinformation.GetFindByIdCount" resultClass="System.Int32">
			SELECT count(*) FROM v_goodssourceinformation WHERE v_goodssourceinformation.id=#Id#
		</select>
		<select id="Vgoodssourceinformation.FindByDstregionname" parameterClass="String" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.dstregionname = #value#
		</select>
		<select id="Vgoodssourceinformation.DescendOrderFindByDstregionname" parameterClass="String" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.dstregionname = #value# ORDER BY id DESC
		</select>
		<select id="VgoodssourceinformationPagination.FindByDstregionname" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.dstregionname = #Dstregionname# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="VgoodssourceinformationPagination.DescendOrderFindByDstregionname" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.dstregionname = #Dstregionname# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Vgoodssourceinformation.GetFindByDstregionnameCount" resultClass="System.Int32">
			SELECT count(*) FROM v_goodssourceinformation WHERE v_goodssourceinformation.dstregionname=#Dstregionname#
		</select>
		<select id="Vgoodssourceinformation.FindByReleasedate" parameterClass="DateTime" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.releasedate = #value#
		</select>
		<select id="Vgoodssourceinformation.DescendOrderFindByReleasedate" parameterClass="DateTime" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.releasedate = #value# ORDER BY id DESC
		</select>
		<select id="VgoodssourceinformationPagination.FindByReleasedate" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.releasedate = #Releasedate# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="VgoodssourceinformationPagination.DescendOrderFindByReleasedate" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.releasedate = #Releasedate# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Vgoodssourceinformation.GetFindByReleasedateCount" resultClass="System.Int32">
			SELECT count(*) FROM v_goodssourceinformation WHERE v_goodssourceinformation.releasedate=#Releasedate#
		</select>
		<select id="Vgoodssourceinformation.FindByDstcityname" parameterClass="String" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.dstcityname = #value#
		</select>
		<select id="Vgoodssourceinformation.DescendOrderFindByDstcityname" parameterClass="String" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.dstcityname = #value# ORDER BY id DESC
		</select>
		<select id="VgoodssourceinformationPagination.FindByDstcityname" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.dstcityname = #Dstcityname# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="VgoodssourceinformationPagination.DescendOrderFindByDstcityname" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.dstcityname = #Dstcityname# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Vgoodssourceinformation.GetFindByDstcitynameCount" resultClass="System.Int32">
			SELECT count(*) FROM v_goodssourceinformation WHERE v_goodssourceinformation.dstcityname=#Dstcityname#
		</select>
		<select id="Vgoodssourceinformation.FindByDstcitycode" parameterClass="String" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.dstcitycode = #value#
		</select>
		<select id="Vgoodssourceinformation.DescendOrderFindByDstcitycode" parameterClass="String" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.dstcitycode = #value# ORDER BY id DESC
		</select>
		<select id="VgoodssourceinformationPagination.FindByDstcitycode" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.dstcitycode = #Dstcitycode# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="VgoodssourceinformationPagination.DescendOrderFindByDstcitycode" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.dstcitycode = #Dstcitycode# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Vgoodssourceinformation.GetFindByDstcitycodeCount" resultClass="System.Int32">
			SELECT count(*) FROM v_goodssourceinformation WHERE v_goodssourceinformation.dstcitycode=#Dstcitycode#
		</select>
		<select id="Vgoodssourceinformation.FindByTitle" parameterClass="String" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.title = #value#
		</select>
		<select id="Vgoodssourceinformation.DescendOrderFindByTitle" parameterClass="String" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.title = #value# ORDER BY id DESC
		</select>
		<select id="VgoodssourceinformationPagination.FindByTitle" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.title = #Title# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="VgoodssourceinformationPagination.DescendOrderFindByTitle" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.title = #Title# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Vgoodssourceinformation.GetFindByTitleCount" resultClass="System.Int32">
			SELECT count(*) FROM v_goodssourceinformation WHERE v_goodssourceinformation.title=#Title#
		</select>
		<select id="Vgoodssourceinformation.FindByTitlecolor" parameterClass="String" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.titlecolor = #value#
		</select>
		<select id="Vgoodssourceinformation.DescendOrderFindByTitlecolor" parameterClass="String" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.titlecolor = #value# ORDER BY id DESC
		</select>
		<select id="VgoodssourceinformationPagination.FindByTitlecolor" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.titlecolor = #Titlecolor# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="VgoodssourceinformationPagination.DescendOrderFindByTitlecolor" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.titlecolor = #Titlecolor# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Vgoodssourceinformation.GetFindByTitlecolorCount" resultClass="System.Int32">
			SELECT count(*) FROM v_goodssourceinformation WHERE v_goodssourceinformation.titlecolor=#Titlecolor#
		</select>
		<select id="Vgoodssourceinformation.FindByUsername" parameterClass="String" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.username = #value#
		</select>
		<select id="Vgoodssourceinformation.DescendOrderFindByUsername" parameterClass="String" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.username = #value# ORDER BY id DESC
		</select>
		<select id="VgoodssourceinformationPagination.FindByUsername" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.username = #Username# LIMIT #Limit# OFFSET #Offset# 
		</select>
		<select id="VgoodssourceinformationPagination.DescendOrderFindByUsername" parameterClass="VgoodssourceinformationPagination" resultMap="FullResultMap" extends="Vgoodssourceinformation.FindAll">
			WHERE v_goodssourceinformation.username = #Username# ORDER BY id DESC limit #Limit# offset #Offset# 
		</select>
		<select id="Vgoodssourceinformation.GetFindByUsernameCount" resultClass="System.Int32">
			SELECT count(*) FROM v_goodssourceinformation WHERE v_goodssourceinformation.username=#Username#
		</select>
	</statements>
</sqlMap>
