<?xml version="1.0" encoding="utf-8" ?> 
<sqlMap namespace="Vrightsfullinfo" xmlns="http://ibatis.apache.org/mapping" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<alias>
		<typeAlias alias="Vrightsfullinfo" type="Trans.DAL.Entity.Vrightsfullinfo" />
		<typeAlias alias="VrightsfullinfoPagination" type="Trans.DAL.Entity.VrightsfullinfoPagination" />
	</alias>
	<resultMaps>
		<resultMap id="FullResultMap" class="Vrightsfullinfo">
			<result property="Groupname" column="groupname" dbType="varchar"/>
			<result property="RightId" column="rightId" dbType="bigint"/>
			<result property="Righturl" column="righturl" dbType="varchar"/>
			<result property="GroupId" column="groupId" dbType="bigint"/>
			<result property="Rightname" column="rightname" dbType="varchar"/>
		</resultMap>
	</resultMaps>
	<statements>
		<select id="Vrightsfullinfo.GetCount" resultClass="System.Int32">
			SELECT count(*) FROM v_rightsfullinfo 
		</select>
		<select id="Vrightsfullinfo.FindAll" resultMap="FullResultMap">
			SELECT * FROM v_rightsfullinfo
		</select>
		<select id="Vrightsfullinfo.FindAllPagination" parameterClass="VrightsfullinfoPagination" resultMap="FullResultMap">
			SELECT * FROM v_rightsfullinfo limit #Limit# offset #Offset# 
		</select>
		<select id="Vrightsfullinfo.FindByGroupname" parameterClass="String" resultMap="FullResultMap" extends="Vrightsfullinfo.FindAll">
			WHERE v_rightsfullinfo.groupname = #value#
		</select>
		<select id="VrightsfullinfoPagination.FindByGroupname" parameterClass="VrightsfullinfoPagination" resultMap="FullResultMap" extends="Vrightsfullinfo.FindAll">
			WHERE v_rightsfullinfo.groupname = #Groupname# limit #Limit# offset #Offset# 
		</select>
		<select id="Vrightsfullinfo.FindByRightId" parameterClass="Int64" resultMap="FullResultMap" extends="Vrightsfullinfo.FindAll">
			WHERE v_rightsfullinfo.rightId = #value#
		</select>
		<select id="VrightsfullinfoPagination.FindByRightId" parameterClass="VrightsfullinfoPagination" resultMap="FullResultMap" extends="Vrightsfullinfo.FindAll">
			WHERE v_rightsfullinfo.rightId = #RightId# limit #Limit# offset #Offset# 
		</select>
		<select id="Vrightsfullinfo.FindByRighturl" parameterClass="String" resultMap="FullResultMap" extends="Vrightsfullinfo.FindAll">
			WHERE v_rightsfullinfo.righturl = #value#
		</select>
		<select id="VrightsfullinfoPagination.FindByRighturl" parameterClass="VrightsfullinfoPagination" resultMap="FullResultMap" extends="Vrightsfullinfo.FindAll">
			WHERE v_rightsfullinfo.righturl = #Righturl# limit #Limit# offset #Offset# 
		</select>
		<select id="Vrightsfullinfo.FindByGroupId" parameterClass="Int64" resultMap="FullResultMap" extends="Vrightsfullinfo.FindAll">
			WHERE v_rightsfullinfo.groupId = #value#
		</select>
		<select id="VrightsfullinfoPagination.FindByGroupId" parameterClass="VrightsfullinfoPagination" resultMap="FullResultMap" extends="Vrightsfullinfo.FindAll">
			WHERE v_rightsfullinfo.groupId = #GroupId# limit #Limit# offset #Offset# 
		</select>
		<select id="Vrightsfullinfo.FindByRightname" parameterClass="String" resultMap="FullResultMap" extends="Vrightsfullinfo.FindAll">
			WHERE v_rightsfullinfo.rightname = #value#
		</select>
		<select id="VrightsfullinfoPagination.FindByRightname" parameterClass="VrightsfullinfoPagination" resultMap="FullResultMap" extends="Vrightsfullinfo.FindAll">
			WHERE v_rightsfullinfo.rightname = #Rightname# limit #Limit# offset #Offset# 
		</select>
	</statements>
</sqlMap>
